body {
    background-color: lightgray;
    margin: 0;
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Arial, sans-serif;
}

.section {
    width: fit-content;
    margin-bottom: 40px;
}

h1,
h2 {
    font-size: 30px;
    font-family: serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

table {
    margin: 0 auto;
    border-spacing: 8px;
}

label {
    font-size: 20px;
}

input {
    border: 2px double gray;
    border-radius: 6px;
    font-size: 18px;
    width: 150px;
    padding: 5px;
}

select {
    font-size: 18px;
    min-width: 70px;
    padding: 4px;
    border-radius: 6px;
}

button {
    background-color: darkcyan;
    padding: 16px 24px;
    font-size: 18px;
    color: white;

    border: none;
    border-radius: 12px;

    cursor: pointer;
}

button:hover {
    background-color: teal;
}

.button-cell {
    text-align: center;
    padding-top: 12px;
}

.result-cell {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}

p {
    font-size: 20px;
    color: red;
    font-weight: bold;
    text-align: center;
}